@using UniversityManagement.Models
@{
    Layout = null;
    List<Department> newDepartmentList = ViewBag.NewDepartment;
    List<Semester> newSemestertList = ViewBag.NewSemester;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DepartmetnSave Course</title>
    <link href="~/UniversityCSS.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">
                <img src="~/Uni_logo.png"/>
            </a>-->
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="http://localhost:2640/HomeOfUniversity.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <!--<ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>-->
        </div>
    </div>
</nav>
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <p><a href="http://localhost:2640/DepartmentSave/DepartmentSave" style="text-decoration: none; font-size: 18px;">Save Department</a></p>
                <p><a href="http://localhost:2640/DepartmentSave/AllDepartmentView" style="text-decoration: none; font-size: 18px;">View All Departments</a></p>
                <p><a href="http://localhost:2640/SaveCourse/SaveCourse" style="text-decoration: none; font-size: 18px;">Save Course</a></p>
                <p><a href="http://localhost:2640/SaveTeacher/SaveTeacher" style="text-decoration: none; font-size: 18px;">Save Teacher</a></p>
                <p><a href="http://localhost:2640/CourseAssign/CourseAssign" style="text-decoration: none; font-size: 18px;">Course Assign</a></p>
                <p><a href="http://localhost:2640/ViewCourseStatics/Index" style="text-decoration: none; font-size: 18px;">View Course</a></p>
                <p><a href="http://localhost:2640/RegisterStudent/Registration" style="text-decoration: none; font-size: 18px;">Register Student</a></p>
                <p><a href="http://localhost:2640/AllocateRoom/Allocate" style="text-decoration: none; font-size: 18px;">Allocate Classrooms</a></p>
                <p><a href="http://localhost:2640/ClassSchedule/ClassScheduleInfo" style="text-decoration: none; font-size: 18px;">View schedule</a></p>
                <p><a href="http://localhost:2640/EnrollCourse/EnrollCourse" style="text-decoration: none; font-size: 18px;">Enroll Course</a></p>
                <p><a href="http://localhost:2640/ResultSave/SaveResult" style="text-decoration: none; font-size: 18px;">Save result</a></p>
                <p><a href="http://localhost:2640/ResultSave/ViewResult" style="text-decoration: none; font-size: 18px;">View result</a></p>
                <p><a href="http://localhost:2640/UnassignAllCourses/UnassignAllCourses" style="text-decoration: none; font-size: 18px;">Unassign Courses</a></p>
                <p><a href="http://localhost:2640/UnAllocation/UnAllocateRoom" style="text-decoration: none; font-size: 18px;">Unallocate rooms</a></p>
            </div>
            <div class="col-sm-8 text-left">
                <fieldset>
                    <legend>Save Courses</legend>
                </fieldset>
                <div>
                    @if (ViewBag.Message != null)
                    {
                        <label class="label-success">@ViewBag.Message</label>
                    }
                    <form id="saveCourseForm" method="POST">
                        <div>
                                <table>
                                    <tr>
                                        <td><label>Code</label></td>
                                        <td><input type="text" id="CourseCode" name="CourseCode" placeholder="Enter Course Code"></td>
                                    </tr>
                                    <tr>
                                        <td><label>Name</label></td>
                                        <td><input type="text" id="CourseName" name="CourseName" placeholder="Enter Course Name"></td>
                                    </tr>
                                    <tr>
                                        <td><label>Credit</label></td>
                                        <td><input type="text" id="Credit" name="Credit" placeholder="Enter Credit"></td>
                                    </tr>
                                    <tr>
                                        <td><label>Description</label></td>

                                        <td><textarea name="Description" id="Description" placeholder="Enter Descripion"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td><label>Department</label></td>
                                        <td>
                                            <select class="form-control" id="DepartmentId" name="DepartmentId">
                                                <option value="">--Selcet Department--</option>
                                                @foreach (Department newDept in newDepartmentList)
                                                {
                                                    <option value="@newDept.Id">@newDept.DepartmentName</option>
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label>Semester</label></td>
                                        <td>
                                            <select class="form-control" id="Semester" name="Semester">
                                                <option value="">--Selcet Semester--</option>
                                                @foreach (Semester newSem in newSemestertList)
                                                {
                                                    <option value="@newSem.Semesters">@newSem.Semesters</option>
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><input type="submit" value="Save"/></td>
                                    </tr>
                                </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>

<script>
    $(document).ready(function() {
        // validate the comment form when it is submitted


        // validate signup form on keyup and submit
        $("#saveCourseForm").validate({
            rules: {
                CourseName: "required",
                CourseCode: {
                    required: true,
                    minlength: 5
                },
                Credit: {
                    required: true,
                    min: 0.5,
                    max: 5.0
                },
                Description: "required",
                Semester: "required"
            },

            messages: {
                CourseName: "Please enter Course  Name",
                CourseCode:
                {
                    required: "Please enter Course  Code",
                    minlength: "Code must be at least five (5) characters long. "
                },
                Credit:
                {
                    required: "Please enter Credit",
                    max: "credit cannot be more than 5.0 ",
                    min: "Credit cannot be less than 0.5 "
                },
                Description: "Please enter Course  Description"
            }

        });
    });
</script>
    <footer class="container-fluid text-center">
        <p>© BugSolver 2016</p>
    </footer>
</body>
</html>
